*~
*.a
aclocal.m4
/autom4te.cache/
*banner.c
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/libltdl/
build/ltmain.sh
build/m4/libtool.m4
build/m4/ltargz.m4
build/m4/ltdl.m4
build/m4/lt~obsolete.m4
build/m4/ltoptions.m4
build/m4/ltsugar.m4
build/m4/ltversion.m4
build/missing
/clients/tools/ldapcompare
/clients/tools/ldapdelete
/clients/tools/ldapexop
/clients/tools/ldapmodify
/clients/tools/ldapmodrdn
/clients/tools/ldappasswd
/clients/tools/ldapsearch
/clients/tools/ldapurl
/clients/tools/ldapvc
/clients/tools/ldapwhoami
/config.log
/config.lt
/config.status
/configure
configure.log
.deps
.dirstamp
docker/slapd.test.conf
@dumps/
*.eml
*.in
/include/lber_types.h
/include/ldap_dirs.h
/include/ldap_features.h
INSTALL
*.la
libraries/liblunicode/ucgendat
libraries/liblunicode/uctable.h
libraries/libmdbx/.dirstamp
libraries/libreldap/check/apitest
libraries/libreldap/check/.dirstamp
libraries/libreldap/crutch.i
libraries/libreldap/crutch.s
libraries/libreldap/*test
libraries/librewrite/rewrite
.libs
libtool
.links
*.lo
Makefile
*.man
*.o
*.orig
*.patch
*.rej
reldap_autoconf.h
servers/slapd/back-bdb/.dirstamp
servers/slapd/back-mdb/mdbx_chk
servers/slapd/back-mdb/mdbx_copy
servers/slapd/back-mdb/mdbx_dump
servers/slapd/back-mdb/mdbx_load
servers/slapd/back-mdb/mdbx_stat
!/servers/slapd/back-sql/rdbms_depend/timesten/dnreverse/Makefile
servers/slapd/builtin.c
servers/slapd/shell-backends/passwd-shell
servers/slapd/slapacl
servers/slapd/slapadd
servers/slapd/slapauth
servers/slapd/slapcat
servers/slapd/slapd
servers/slapd/slapd.conf
servers/slapd/slapd.ldif
servers/slapd/slapdn
servers/slapd/slapindex
servers/slapd/slapmodify
servers/slapd/slappasswd
servers/slapd/slapschema
servers/slapd/slaptest
*.so
stamp-*
@successful.log
tests/core
tests/progs/ldif_filter
tests/progs/slapd_addel
tests/progs/slapd_bind
tests/progs/slapd_modify
tests/progs/slapd_modrdn
tests/progs/slapd_mtread
tests/progs/slapd_read
tests/progs/slapd_search
tests/progs/slapd_tester
tests/run
tests/schema
tests/testdata
tests/testrun
*.tmp
